body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
	height: 100vh;
}

.form-error {
  background: hsl(0, 100%, 95%);
  color: red;
  display: block;
  padding: 0 10px;
  line-height: 2.5;
}