.tasks-pannel {
  text-align: center;
}

.tasks-pannel-header {
  background-color: #0067A3;
  padding: 2px 20px;
  color: white;
}

.tasks-pannel-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* минус высота header и внутренние отступы*/
  min-height: calc(100vh - 67px);
  background: #0079BF;
  padding: 60px 0;
  text-align: left;
  margin: 0 auto;
}

@media (max-width: 880px) {
  .tasks-pannel-content {
    display: block;
  }
}
