.card {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px;
	text-align: left;
	margin-bottom: 10px;
}

.card__header {
	padding: 15px 15px;
	display: flex;
	justify-content: flex-end;
	color: #000;
	font-weight: 500;
	border-bottom: 1px solid #efefef;
	position: relative;
}

.card__header .card__header-wrapper {
	text-align: left;
	flex-grow: 1;
}

.card__priority {
	background: red;
	height: 15px;
	width: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	text-align: center;
	position: absolute;
	top: 3px;
	left: -15px;
	color: #fff;
	font-size: 11px;
}

.card__header .author,
.card__header .executor,
.card__header .responsible {
	font-size: 12px;
}

.card__header .label {
	margin-right: 10px;
}

.card__header i {
	color: #999;
	font-weight: normal;
}


.card__responsible {
	
}

.card__responsible span {
	margin-right: 5px;
}

.card__header-dropdown {
}

.card__header-dropdown .dropdown-title {
	color: #0079BF;
	padding: 0px 10px;
	height: 100%;
}

.card__header-dropdown .dropdown-title:hover {
	background: #efefef
}

.card__header-dropdown .dropdown-options {
	border: 1px solid #ccc;
	box-shadow: 0 5px 20px -5px #223844;
	color: #666;
	font-weight: 400;
}	

.card__body {
	padding: 15px 15px 15px;
}

.card .deadline {
	padding: 0 15px;
	border-top: 1px solid #efefef;
	background: #fcf8e3;
	font-size: 12px;
	line-height: 1.6;
	padding-bottom: 15px;
}

.card .deadline i:last-child {
	float: right;
}

.card .deadline .progress {
	margin-bottom: 0;
	height: 10px;
}

.card .deadline .progress-bar {
	background: #f5d632;
}


.card__footer {
	padding: 5px 15px 15px;
	color: #888;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #efefef;
	font-size: 12px;
}

.card__comments {
	align-self: flex-end;
}

.card__comments:hover {
	cursor: pointer;
}

.card__comments span {
	color: #0079BF;
	padding-right: 5px;
}

.card__client {
	cursor: pointer;
	color: #0079BF;
}